@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Animal.Name</h2>
<ul>
    <li><b>@ViewBag.Animal.CommonName</b></li>
    <li><i>@ViewBag.Animal.ScienceName</i></li>
    <li>Habitat Number: @ViewBag.Animal.HabitatId</li>
</ul>

<p>@ViewBag.Animal.Name is @ViewBag.Animal.Age years old.</p>
